---
layout: source
title: Collections
permalink: /collections/
---

<h2 class="mb-4">Collection Number</h2>

<ul class="list-group list-group-flush">
  {% assign collections = 
    "1:Clair Omar Musser,2:Green Family,3:Gordon B. Peters,4:Dave Samuels,5:Vida Chenoweth,
     6:Century Of Progress,7:International Marimba Symphony Orchestra,8:Sammy Herman,9:Harry Breuer,
     10:Earl Hatch,11:Billy Dorn,12:Teddy Brown,13:Red Norvo,14:Gordon Stout,
     15:General Historical Research on Mallet Percussion (KU Percussion Library),16:William L. Cahn,
     17:Research Collection,18:Vintage Instruments Collection,19:Preusch/Marimba Coeds Collection,
     20:Betty Lee,21:Marimba Masters,22:Vera McNary,24:Sewrey/Morsch Collection,
     25:WRCMPR Documents,26:Carl Fisher,27:Merchandise,28:David Vela,29:Dick Schory,99:Miscellaneous"
     | split: "," 
  %}
  
  {% for col in collections %}
    {% assign pair = col | split: ":" %}
    <li class="list-group-item">
      <a href="{{ '/items/?collection=' | append: pair[0] | relative_url }}">
        {{ pair[0] }}. {{ pair[1] }}
      </a>
    </li>
  {% endfor %}
</ul>

{% include js/collections-js.html %}
