---
layout: collection
title: Collections
permalink: /collections/
---

<h2 class="mb-4">Collection Number</h2>

<ul class="list-group list-group-flush">

<li class="list-group-item"><a href="{{ '/items/?collection=1' | relative_url }}">1. Clair Omar Musser</a></li>
<li class="list-group-item"><a href="{{ '/items/?collection=2' | relative_url }}">2. Green Family</a></li>
<li class="list-group-item"><a href="{{ '/items/?collection=3' | relative_url }}">3. Gordon B. Peters</a></li>
<li class="list-group-item"><a href="{{ '/items/?collection=4' | relative_url }}">4. Dave Samuels</a></li>
<li class="list-group-item"><a href="{{ '/items/?collection=5' | relative_url }}">5. Vida Chenoweth</a></li>
<li class="list-group-item"><a href="{{ '/items/?collection=6' | relative_url }}">6. Century Of Progress</a></li>
<li class="list-group-item"><a href="{{ '/items/?collection=7' | relative_url }}">7. International Marimba Symphony Orchestra</a></li>
<li class="list-group-item"><a href="{{ '/items/?collection=8' | relative_url }}">8. Sammy Herman</a></li>
<li class="list-group-item"><a href="{{ '/items/?collection=9' | relative_url }}">9. Harry Breuer</a></li>
<li class="list-group-item"><a href="{{ '/items/?collection=10' | relative_url }}">10. Earl Hatch</a></li>
<li class="list-group-item"><a href="{{ '/items/?collection=11' | relative_url }}">11. Billy Dorn</a></li>
<li class="list-group-item"><a href="{{ '/items/?collection=12' | relative_url }}">12. Teddy Brown</a></li>
<li class="list-group-item"><a href="{{ '/items/?collection=13' | relative_url }}">13. Red Norvo</a></li>
<li class="list-group-item"><a href="{{ '/items/?collection=14' | relative_url }}">14. Gordon Stout</a></li>
<li class="list-group-item"><a href="{{ '/items/?collection=15' | relative_url }}">15. General Historical Research on Mallet Percussion (KU Percussion Library)</a></li>
<li class="list-group-item"><a href="{{ '/items/?collection=16' | relative_url }}">16. William L. Cahn</a></li>
<li class="list-group-item"><a href="{{ '/items/?collection=17' | relative_url }}">17. Research Collection</a></li>
<li class="list-group-item"><a href="{{ '/items/?collection=18' | relative_url }}">18. Vintage Instruments Collection</a></li>
<li class="list-group-item"><a href="{{ '/items/?collection=19' | relative_url }}">19. Preusch/Marimba Coeds Collection</a></li>
<li class="list-group-item"><a href="{{ '/items/?collection=20' | relative_url }}">20. Betty Lee</a></li>
<li class="list-group-item"><a href="{{ '/items/?collection=21' | relative_url }}">21. Marimba Masters</a></li>
<li class="list-group-item"><a href="{{ '/items/?collection=22' | relative_url }}">22. Vera McNary</a></li>
<li class="list-group-item"><a href="{{ '/items/?collection=24' | relative_url }}">24. Sewrey/Morsch Collection</a></li>
<li class="list-group-item"><a href="{{ '/items/?collection=25' | relative_url }}">25. WRCMPR Documents</a></li>
<li class="list-group-item"><a href="{{ '/items/?collection=26' | relative_url }}">26. Carl Fisher</a></li>
<li class="list-group-item"><a href="{{ '/items/?collection=27' | relative_url }}">27. Merchandise</a></li>
<li class="list-group-item"><a href="{{ '/items/?collection=28' | relative_url }}">28. David Vela</a></li>
<li class="list-group-item"><a href="{{ '/items/?collection=29' | relative_url }}">29. Dick Schory</a></li>
<li class="list-group-item"><a href="{{ '/items/?collection=99' | relative_url }}">99. Miscellaneous</a></li>

</ul>
