<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
  </head>

  <body class="d-flex flex-column h-100">

    <div id="skip-to-content">
      <a href="#maincontent">Skip to main content</a>
    </div>

    {% include collection-banner.html %}
    {% include collection-nav.html %}

    <!-- GLOBAL HERO IMAGE -->
    {% if page.header_image %}
      <div class="global-hero">
        <img src="{{ page.header_image }}" alt="{{ page.title }} header image">
        <div class="hero-overlay">
          <h1 class="hero-title">{{ page.title }}</h1>
        </div>
      </div>
    {% else %}
      <div class="global-hero">
        <img src="/assets/images/default-header.jpg" alt="WRCMPR Archive Header">
        <div class="hero-overlay">
          <h1 class="hero-title">{{ page.title }}</h1>
        </div>
      </div>
    {% endif %}
    <!-- END GLOBAL HERO IMAGE -->

    <main id="maincontent" role="main" class="flex-shrink-0">
      {{ content }}
    </main>

    {% include footer.html %}
    {% include foot.html %}
    {% include scroll-to-top.html %}

  </body>
</html>
